/*更改背景圖片*/
.bg-black {
  background-image: url("/doudouu0504blog/images/forest.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  opacity: 0.9; /* 整體透明度 70% */
}

/* 設定標題的顏色 */
h1.f2.f-subheadline-l.fw2.light-silver.mb0.lh-title {
  color: #ffffff;
}
